.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}
.container {
    position: relative;
    display: inline-block;
  }
  
  .container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .container:hover img {
    transform: scale(1.1); /* Ändere den Wert für die Vergrößerung */
  }
  